.product_name {
    text-transform: capitalize;
}

.product_company_name {
    text-transform: capitalize;
}

.product_model {
    text-transform: capitalize;
}

.add_images_label {
    border: 1.3px solid rgb(203, 203, 203);
    padding: 2px 5px;
    border-radius: 5px !important;
    cursor: pointer;
    font-size: 13px;
}

.images_container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
}

.image {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    width: 90px;
    position: relative;
    padding: 0 10px;
    align-items: center;
    height: 65px;
    justify-content: center;
}

.image>p {
    font-size: 12px;
    word-break: break-all;
    margin-bottom: 0;
}

.image>img {
    border: 1px solid black;
    width: 1em;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
    background: white;
    border-radius: 15px;
}

.image_preview {
    width: 5em;
}