.add_button {
    display: flex;
    justify-content: flex-end;
}

.edit_delete_btn {
    width: 10em;
}

.company_name {
    text-transform: capitalize;
}

.company_user_name {
    text-transform: capitalize;
}