.app_main {
    display: flex;
    position: relative;
}

.app_sidenav {
    height: 100vh;
    width: 20%;
    max-width: 15em;
    background-color: #212529;
    position: sticky;
    top: 0;
}

.right_content {
    width: 85%;
}

.active {
    background-color: #0d6efd;
}
